<div class="header-mobile">
  <!-- Regular header (visible when not scrolled) -->
  <div class="header-top-mobile">
    <div class="mobile-container">
      <div class="header-center__inner">
        <div class="button-menu">
          <button class="js-menu-mobile btn menu-mobile__btn" type="button" style="margin-left: 30px">
            <i class="feather-menu"></i>
          </button>
        </div>
        <div class="header-logo" itemscope itemtype="http://schema.org/Organization">
          {%- if section.settings.logo -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="header-logo__link">
              <img
                class="header-logo__img logo-home"
                src="https://vaama.co/cdn/shop/files/logo_1.svg"
                srcset="https://vaama.co/cdn/shop/files/logo_1.svg"
                alt="{{ section.settings.logo.alt | default: shop.name }}"
                width="36px"
                height="{{ section.settings.logo.height }}"
                itemprop="logo"
              >

              <img
                class="header-logo__img logo-main"
                src="https://vaama.co/cdn/shop/files/logo_1.svg"
                alt="{{ shop.name }}"
                width="36px"
                height="auto"
                itemprop="logo"
              >
            </a>
          {%- else -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="header-logo__link header-logo__link--text">
              {{- shop.name -}}
            </a>
          {%- endif -%}
        </div>
        <div class="header-right">
          {%- if section.settings.show_header_wishlist -%}
            <div class="wishlist-mobile">
              <a href="{{  section.settings.page_wishlist.url }}" title="wishlist" data-count-wishlist
                ><i class="icon-wishlist"><span class="count"></span></i
              ></a>
            </div>
          {%- endif -%}
          {%- if section.settings.show_header_user -%}
            <div class="header-account">
              <a
                class="login-account {% unless customer %}show-sotp-popup{% endunless %}"
                href="{{ routes.account_url }}"
              >
                <i class="icon-account"></i>
              </a>
            </div>
          {%- endif -%}
          {%- if section.settings.show_header_cart -%}
            {% render 'header-cart' %}
          {%- endif -%}
        </div>

      </div>
      <!-- Custom Search Bar -->
        {%- if section.settings.show_header_search -%}
          <div class="header-mobile__search" style="margin:10px;">
            {% render 'custom-search-bar', location: 'mobile' %}
          </div>
        {%- endif -%}

    </div>
  </div>

  {%- if settings.show_menu_bottom -%}
    <div class="header-bottom-fixed">
      <div class="home-mobile">
        <a href="{{ routes.root_url }}" title="home"
          ><i class="feather-home"></i><span>{{ 'layout.header.home' | t }}</span></a
        >
      </div>
      <div class="shop-mobile">
        <a href="{{ routes.all_products_collection_url }}" title="shop"
          ><i class="feather-grid"></i><span>{{ 'layout.header.shop' | t }}</span></a
        >
      </div>
      <div class="account-mobile">
        <a href="{{ routes.account_url }}" title="my account"
          ><i class="feather-user"></i><span>{{ 'layout.header.account' | t }}</span></a
        >
      </div>
      {%- if section.settings.show_header_wishlist -%}
        <div class="wishlist-mobile">
          <a href="{{  section.settings.page_wishlist.url }}" title="wishlist" data-count-wishlist
            ><i class="feather-heart"><span class="count"></span></i><span>{{ 'layout.header.wishlist' | t }}</span></a
          >
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
  {% render 'menu-mobile' %}
</div>
